
<!DOCTYPE html>
<html lang="en" ng-app="repeat-testApp" ng-cloak>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <script>var VERSION = '<!-- @echo VERSION -->'; console.log("Running version:", VERSION)</script>
</head>
<body>
    <!-- project link -->
    <a href="edit.html">edit</a>

    <!-- include browserify -->
     <script src="bundle.js"></script>

     <p> &nbsp;</p>
     <div ng-controller="BaseCtrl">
         <b>{{ choices }}&nbsp;</b>


    <div class="form-group" data-ng-repeat="choice in choices">
  <label for="choice" ng-show="showChoiceLabel(choice)">Choices</label>
  <button ng-show="showAddChoice(choice)" ng-click="addNewChoice()">Add another choice</button>
  <input type="text" ng-model="choice.id" name="" placeholder="Enter a bird name">
</div>

</div>

</body>
</html>
